
/* Small Text excluding buttons should be white. */
li {
    color: white;
}

#nav {
    color: white;
    text-decoration: underline;
    text-decoration-color: #add8e6;
}

label {
    color: white;
}

/* Change color when user hovers the nav link to make it easier for user to tell that it is a link*/
#nav:hover{
    background-color: black;
}


/* h1 should have a contrasting colour to the dark background and different from the smaller text */
h1 {
    color: #ffffed;
}

body {
    height: 100%;
    width: 100%;
    background: white url("images/background.jpg");
     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}